body {
    background-image: url("images/pic_1.jpg");
}

.header-logo{
    margin-top: 50px;
    margin-left: 50px;
}

.inner {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 151px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.btn-hero {
    background: #C271FF;
    border-radius: 22px;
    border-color: #C271FF;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.learn {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #C271FF;
}

.learn-two {
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    font-weight: lighter;
    text-align: center;
    color: #FFFFFF;
}

.person-name {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #FFFFFF;
}

.person-info {
font-family: Source Sans Pro;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;

color: #FFFFFF;
}
