body {
    background-image: url("images/pic_1.jpg");
}

.header-logo{
    margin-top: 50px;
    margin-left: 50px;
}

.inner {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 151px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.btn-hero {
    background: #C271FF;
    border-radius: 22px;
    border-color: #C271FF;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.learn {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #C271FF;
}

.learn-two {
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    font-weight: lighter;
    text-align: center;
    color: #FFFFFF;
}

.person-name {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #FFFFFF;
}

.person-info {
font-family: Source Sans Pro;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;

color: #FFFFFF;
}

/* 2-TASK 1-homepage.html */

.carousel {
    background: #C271FF;
}

.my-carousel-picture {
    margin-left: 300px;
}

.my-quote-carousel {
    margin-left: 0;
    margin-right: 100px;
}

/* 3 TASK 2-homepage.html */

.my-card-background {
    background: white;
}

.my-card-person-name {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #C271FF;
}

/* 3 TASK 2-homepage.html */

.purple-tutorial {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #C271FF;
}

.my-tutorial {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #071629
}

/* 4 TASK 3-homepage.html */

.my-member-background {
    background-color: #071629;
}

.my-member-title {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;

    color: #FFFFFF;
}

.my-member-paragraph {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
color: #FFFFFF;
}

.purple-membership {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #C271FF;
}

.my-membership {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.my-container-member {
    padding-top: 100px;
    padding-bottom: 80px;
}

/* 6 TASK Footer */

.my-footer {
    background-color: #071629;
    height: 200px;
}

.my-smile {
    color: #FFFFFF;
    opacity: 0.35;
    padding-top: 150px;
}

.my-col-smile-footer {
    padding-top: 80px;
}